.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 0.5em;
  padding: 0.2em; 
  width: 50em;
}

.buttonDivider{
  margin: 0.1em 0;
}

.buttonLink {
  display: block;
  width: 100%;
  padding: 0.5em;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  text-align: left;
  margin: 1em 0;
}

