.icon {
  background-color: white;
  padding: 0.1em;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  font-size: 2.5em;
  display: inline-block;
}

.contactitem:hover .icon {
    background-color: #FF9D00;
    font-size: 2.6em;
}

#aboutme {
    display: grid;
    grid-template-areas: 1fr 1fr 1fr / 1fr 1fr;
    max-width: 800px;
    margin: 2em;
    text-align: left;
}

#aboutme h2 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
}

.description {
    grid-area: 2 / 1 / 3 / 2;
    align-self: start;
    margin: 1em 4em;
    border: #7B542F 0.5em solid;
    border-radius: 25px;
    padding: 1em;
}

.contactInfo {
    grid-area: 3 / 1 / 4 / 2;
    align-self: start;
    list-style-type: none;
    padding-left: 1em;
    margin: 0 4em;
    border: #7B542F 0.5em solid;
    border-radius: 25px;
}

#aboutme img {
    width: 400px;
    height: auto;
    grid-area: 1 / 2 / 4 / 3;
    justify-self: center;
    align-self: center;
    /* border: white 0.2em solid; */
    border: #7B542F 0.5em solid;
    border-radius: 25px;
}

.contactitem {
    margin: 0.5em 0;
    width: fit-content;
}

.contactitem p {
    display: inline-block;
    margin-left: 0.5em;
    font-weight: bold;
}

.contactitem:hover p {
    text-decoration: underline;
    color: #FF9D00;
}