.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 0.5em;
  padding: 0.2em; 
  width: 80em;
}

.buttonDivider{
  margin: 0.1em 0;
}

.buttonLink {
  display: block;
  width: 8em;
  padding: 0.5em;
  background-color: #f0f0f0;
  border: 0.2em solid #7B542F;
  border-radius: 8%;
  cursor: pointer;
  text-align: left;
  margin: 1em 0;
}

.buttonLink:hover {
  background-color: #FF9D00;
  color: white;
}

.active {
  background-color: #FF9D00;
  color: white;
}

.childrenDivider {
  margin-left: 2em;
}