.icon {
  background: white;
  padding: 0.1em;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  font-size: 2.5em;
  display: inline-block;
}

.icon:hover {
    background-color: #FFCF71;
}

#aboutme {
    display: grid;
    grid-template-areas: 1fr 1fr 1fr / 1fr 1fr;
    width: 800px;
    margin: 2em;
    text-align: left;
}

#aboutme h2 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
}

#aboutme .discription {
    grid-area: 2 / 1 / 3 / 2;
    align-self: start;
}

#aboutme .Contact-info {
    grid-area: 3 / 1 / 4 / 2;
    align-self: start;
    list-style-type: none;
    padding: 0;
    margin: 0.5em 0 0 0;
}

#aboutme img {
    width: 400px;
    height: auto;
    grid-area: 1 / 2 / 4 / 3;
    justify-self: center;
    align-self: center;
    border: white 0.2em solid;
}

.contactitem {
    margin: 0.5em 0;
}

.contactitem p {
    display: inline-block;
    margin-left: 0.5em;
}