.icon {
  background-color: white;
  padding: 0.1em;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  font-size: 3.8em;
  display: inline-block;
  margin: 0.1em;
}

.icon:hover {
    background-color: #FFCF71;
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
}

.skillItem {
  text-align: center;
  margin: 1em;
  border: #B6771D 0.5em solid;
  background-color: #7B542F;
  border-radius: 1em;
}

.skillItem p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  background-color: transparent;
  color: white;
}

.skills {
  text-align: center;
  margin: 2em 0;
}

.skills h2 {
    color: #002554;
}
 