.icon {
  background-color: white;
  padding: 0.1em;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  font-size: 2.5em;
  display: inline-block;
  margin: 0.1em;
}

.icon:hover {
    background-color: #FFCF71;
}