.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.choices {
    font-size: 1rem;
    width: 100em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 0.2em;
}

button {
    background-color: #FF9D00;
    color: white;
    border: #7B542F 0.2em solid;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    /* font-size: 16px; */
    border-radius: 5px;
}

/* button:hover {
    background-color: #e68a00;
} */

button:active {
    background-color: #e68a00;
}