* {
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

logo {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    width: 1.5em;
    margin: 0 1em;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    margin: 0;
}

header{
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
}

nav {
    display: inline-block;
    position: absolute;
    padding: 10px;
    text-align: center;
    padding: 1em;
    right: 0;
}

#about-me {
    max-width: 600px;
    margin: 2em;
    text-align: left;
}

#projects {
    max-width: 600px;
    margin: 2em;
    text-align: left;
}

.h2 {
    font-size: 2em;
    margin: 1em 0;
}

.discription {
    font-size: 1.2em;
    line-height: 1.5em;
}

#footer {
    width: 100%;
    height: 6em;
    /* background-color: #f2f2f2; */
    text-align: center;
    position: relative;
    bottom: 0;
    /* margin: 1em; */
}